body{
  overflow: hidden;
}
.main{
  display: block;
  width:100%;
  max-width: 700px;
  height: 420px;
  background-color: #22e6f1;
  margin:0 auto;
  
  
}
.first, .second, .third{
  height: 118px;
  text-align:center;
  border-bottom: 3px solid black;
  padding-top:20px;
  
}
.first:hover, .second:hover, .third:hover{
  background-color: red;
}
.button1, .button2, .button3{
  
  background-color: #16ee10;
  width:150px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  margin: 0 auto;
  color:white;
  height: 20px;
  
}
.button, p{
  vertical-align: top;
}
.button1:hover,.button2:hover,.button3:hover{
  cursor: pointer;
}

.palette{
  height:100%;
  width:100%;
  display: none;
  position: absolute;
  z-index: 1;
  opacity: 0.3;
  background-color: silver;
}
.hidden1, .hidden2, .hidden3{
  background-color: orange;
  display:none;
  width:300px;
  height: 250px;
  text-align: center;
  z-index: 2;
  opacity: 1;
  
  position: relative;
  margin:0 auto;
 
}
.wide{
   height:100%;
  width:100%;
  display: none;
  position: absolute;
}
